.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--secondary-color);
  font-family: "Dancing Script", "Roboto", cursive;
  font-size: 40px;
  margin-bottom: 40px;
}

input {
  padding: 10px 0px;
  width: 300px;
  border: none;
  font-size: 15px;
  text-indent: 10px;
  color: rgb(59, 59, 59);
}

label {
  color: var(--secondary-color);
  font-size: 15px;
}

select {
  font-size: 15px;
  height: 40px;
  width: 60px;
  border: none;
}

textarea {
  border: none;
  text-indent: 10px;
  font-size: 15px;
  resize: none;
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus {
  outline: none;
}

.first-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}

.second-flex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
}

.rating {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.reading-date {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.input-summary {
  margin-bottom: 20px;
}

.input-title {
  margin-right: 10px;
}

.mat-raised-button.mat-primary {
  background-color: var(--secondary-color);
  font-size: 16px;
  margin: 20px 0px;
  border-radius: 0;
}

.button {
  display: flex;
  justify-content: center;
}

.errorMessage {
  font-size: smaller;
  color: red;
}
